body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 35, 35);
    color: white;
    height: 50%;
    width: 40%;
    border-radius: 20px;
    padding: 20px;
}

form {
    font-size: 30px;
    line-height: 50px;
}

.inputbox {
    height: 20px;
    width: 40%;
    position: relative;
    bottom: 7px;
}

button {
    width: 20%;
    height: 10%;
    position: relative;
    left: 40%;
}